@import '../../style/colors';

div.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 100vw;
    background: $primary-gradient;
    max-width: 1024px;
    box-shadow: 3px 2px 20px -1px rgba(61,58,74,1);
    

    nav.navbar {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        background: $primary-gradient;
        height: 10vh;
        padding: 30px;
        position: fixed;
        max-width: 1024px;

        p {
            color: #ffffff;
        }
    }

    main {
        margin-top: 100px;
        header {
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 20px;
        }

        section.member-section {
            display: flex;
            flex-direction: column;
        }

        section.about-section {
            margin: 30px 20px;
            background: #ffffff;
            border-radius: 8px;
            padding: 30px 40px;
            box-shadow: 6px 6px 8px -1px rgba(15,18,87,0.56);
            header {
                font-size: 20px;
                color: $secondary-blue;
                margin-bottom: 20px;
                font-weight: bold;
            }

            hr {
                margin: 20px;
            }
        }
    }

}


