@import '../../style/colors';

div.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: $primary-gradient;

    .header-container {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        nav {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            height: 15vh;
            padding: 30px;

            img.logo-img {
                height: 70px;
            }
        }
    }

    h3.welcome-user {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-bottom: 20px;
        color: #ffffff;
    }

    section.look-chat {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;

        button {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            margin: 30px;
            font-size: 20px;
            border: 2px solid #ffffff;
            color: #ffffff;
            background: $primary-gradient;
            outline: none;
            :hover {
                background: #ffffff;
                color: $primary-purple;
                border: 1px solid $primary-purple;
            }:active {
                color: #ffffff;
                background: $primary-purple;
                border: none;
            }

            div {
                font-size: 20px;
                color: #ffffff;
            }
        }

        div.match-text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 25vh;
            
            p{
                width: 70%;
                color: #ffffff;
            }
            p.searching-area {
                font-size: 18px;
            }
        }


        .load-planet {
            z-index: 0;
        }

    }
    .err-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin-top: 30px;
    }

}