.Home {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    
    text-align:center;
    
    display: flex;
    
    flex-direction: column;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.homeavatar {
    width: 80%;
}