
$primary-purple: #6443e9;
$primary-blue: #57d2e2;
$primary-red: #ff2e63;

$secondary-red:#ffbdbd;
$secondary-purple:#9b84f7;

$primary-gradient: linear-gradient(100deg, $primary-purple 0%, $primary-blue 100%) no-repeat fixed center;
