@import '../../style/colors';


div.chat-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  background-image: url(./img/bubbles.png);
  background-clip: content-box;  

  nav.chatnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    background: $primary-gradient;
    border-bottom: 1px solid $secondary-purple;

    p {
      color: #ffffff;
      font-size: 20px;
    }
  }

  .chat-content {
    margin: 82px 0;
    overflow: scroll;
    padding: 0 10px;
    
    
    .MessageBox {

      .chat-RightBubble {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin: 10px 0;
        .RightBubble {
          max-width: 80%;
          min-width: 5%;
          color: #ffffff;
          background: $primary-gradient;
          border-radius: 30px;
          padding: 5px;
    
          .message {
            font-size: 16px;
            text-align: right;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      .chat-LeftBubble {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 10px 0;

        .LeftBubble {
          max-width: 80%;
          min-width: 15%;
          color: #ffffff;
          background: linear-gradient(100deg, #383838 0%, #aaaaaa 100%) no-repeat fixed center;;
          border-radius: 30px;
          padding: 5px;
    
          .message {
            font-size: 16px;
            text-align: left;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }

        .BotBubble {
          max-width: 80%;
          min-width: 15%;
          color: $primary-grey;
          background: #ffffff;
          border: 1px solid $primary-grey;
          border-radius: 8px;
          padding: 3px;
    
          .message {
            font-size: 16px;
            text-align: left;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
    }
  }

  div.chat-info {
    display: flex;
    p {
      color: #919191;
      font-size: 14px;
      margin: 0 2px;
    }
  }

  form.message-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 10vh;
    padding: 15px;
    position: fixed;
    bottom: 0;
    background: $primary-gradient;
    border-top: 1px solid $secondary-purple;

    p {
      color: #ffffff;
      font-size: 20px;
      margin-right: 20px;
    }

    input {
      height: 40px;
      width: 60vw;
      background: #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: none;
      outline: none;
      padding: 10px 20px;
      font-size: 16px;
    }::placeholder {
      color: $secondary-purple;
    }:focus::placeholder {
      color: $secondary-red;
    }

    button {
      height: 40px;
      background: #ffffff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: none;
      outline: none;

      padding: 10px 15px;
    }
  }

  .block-user {
    height: 30px;
    width: 80px;
    border-radius: 30px;
    margin: 5px 0;
    font-size: 12px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: $secondary-purple;
    outline: none;

  }
  .block-user:hover {
      background: #ffffff;
      color: $primary-purple;
      border: 1px solid $primary-purple;
  }
  .block-user:active {
      color: #ffffff;
      background: $primary-purple;
      border: none;
  }

}



// .ChatNav {
//     width: 100vw;
//     position: sticky;
//     top: 0;
//     display: flex;
//     justify-content: space-around;
//     align-content: space-around;
    
// }

// .partner {
//     color: #ff2e63;
// }

// .ChatContent {
//     z-index: -1;
// }

// .LeftBubble{
//     background-color:#fff;
//     color: black;
//     font-size: x-small;
//     padding:20px;
//     border-radius:30px;
//     min-width:200px;
//     max-width:600px;
//     min-height:40px;
//     margin:50px auto 50px 50px;
//     position:relative;
//     align-items:center;
//     justify-content:left;
//     text-align:left;
  
//   :before,
//   :after {
//     content:"";
//     background-color:#fff;
//     border-radius:50%;
//     display:block;
//     position:absolute;
//     z-index:-1;
//     transition: all 1s ease-in-out;
//     animation: clouds 10s infinite;
//   }
//   :before {
//     width:44px;
//     height:44px;
//     top:-12px;
//     right:28px;
//     box-shadow:-50px 30px 0 -12px #fff;
//     transition: all 1s ease-in-out;
//     animation: clouds 10s infinite;
//   }
//   :after {
//     bottom:-10px;
//     left:26px;
//     width:30px;
//     height:30px;
//     box-shadow:40px -34px 0 0 #fff,
//                -28px -6px 0 -2px #fff,
//                -24px 17px 0 -6px #fff,
//                -5px 25px 0 -10px #fff;
//     transition: all 1s ease-in-out;
//     animation: clouds 10s infinite;
    
//   }
// }

// .RightBubble {
//         background-color:#fff;
//         color: black;
//         font-size: x-small;
//         padding:20px;
//         border-radius:30px;
//         min-width:200px;
//         max-width:600px;
//         min-height:40px;
//         margin:50px 50px 50px auto;
//         position:relative;
        
//         align-items:center;
//         justify-content: right;;
//         text-align: right;;
      
//       :before,
//       :after {
//         content:"";
//         background-color:#fff;
//         border-radius:50%;
//         display:block;
//         position:absolute;
//         z-index:-1;
//         transition: all 1s ease-in-out;
//         animation: clouds 8s infinite;
//       }
//       :before {
//         width:44px;
//         height:44px;
//         top:-12px;
//         left:28px;
//         box-shadow:-50px 30px 0 -12px #fff;
//         transition: all 1s ease-in-out;
//         animation: clouds 8s infinite;
//       }
//       :after {
//         bottom:-10px;
//         right:26px;
//         width:30px;
//         height:30px;
//         box-shadow:40px -34px 0 0px #fff,
//                    -28px -6px 0 -2px #fff,
//                    -24px 17px 0 -6px #fff,
//                    -5px 25px 0 -10px #fff;
//         transition: all 1s ease-in-out;
//         animation: clouds 8s infinite;
//       }
// }

// @keyframes clouds {
//     0%{
//         box-shadow:40px -34px 0 0px #fff,
//                    -28px -6px 0 -2px #fff,
//                    -24px 17px 0 -6px #fff,
//                    -5px 25px 0 -10px #fff,
//                    -50px 30px 0 -12px #fff;
//     }
//     50% {
//         box-shadow:40px -34px 0 5px #fff,
//                    -28px -6px 0 0px #fff,
//                    -24px 17px 0 -2px #fff,
//                    -5px 25px 0 -6px #fff,
//                    -50px 30px 0 -8px #fff;
//     }
//     100%{
//         box-shadow:40px -34px 0 0px #fff,
//                    -28px -6px 0 -2px #fff,
//                    -24px 17px 0 -6px #fff,
//                    -5px 25px 0 -10px #fff,
//                    -50px 30px 0 -12px #fff;
//     }
// }

// .message {
//     font-size: large;
// }

// .StickyFooter {
//     position: sticky;
//     bottom: 0;
// }