@import '../../style/colors';


div.chat-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  background-image: url(./img/bubbles.png);
  background-clip: content-box;
  max-width: 1024px;
  box-shadow: 3px 2px 20px -1px rgba(61,58,74,1);

  nav.chatnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    background: $primary-gradient;
    // border-bottom: 1px solid $secondary-purple;
    z-index: 2;
    max-width: 1024px;

    p {
      color: #ffffff;
      font-size: 20px;
    }
  }

  .other-avatar {
    position: relative;
    top: 50px;
    z-index: 1;
    padding: 0px 40px 10px 0;
    height: 110px;
    width: 150px;
    // background: green;
    // border-top-left-radius: 10px;
    background: $primary-gradient;
    border-bottom-right-radius: 100%;
    // border-top-right-radius: 50%;
    // border-radius: ;
  }

  .current-avatar {
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 100px;
    width: 90px;
    padding-left: 15px;
    // padding: 0px 0px 20px 50px;
    background: $primary-gradient;
    border-top-left-radius: 100%;
    z-index: 3;

  }

  .chat-content {
    margin: 55px 0 120px 0;
    overflow: hidden;
    padding: 0 20px;
    z-index: 0;
    
    
    .MessageBox {
      .chat-RightBubble {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin: 10px 0;
        .RightBubble {
          max-width: 80%;
          min-width: 5%;
          color: #ffffff;
          background: $primary-gradient;
          border-radius: 30px;
          padding: 5px;
    
          .message {
            font-size: 16px;
            text-align: right;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      .chat-LeftBubble {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 10px 0;

        .LeftBubble {
          max-width: 80%;
          min-width: 15%;
          color: #ffffff;
          background: $primary-gradient;
          border-radius: 30px;
          padding: 5px;
    
          .message {
            font-size: 16px;
            text-align: left;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }

        .BotBubble {
          max-width: 80%;
          min-width: 15%;
          color: $primary-grey;
          background: #ffffff;
          border: 1px solid $primary-grey;
          border-radius: 8px;
          padding: 3px;
    
          .message {
            font-size: 16px;
            text-align: left;
            padding: 5px 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
    }
  }

  div.chat-info {
    display: flex;
    p {
      color: #919191;
      font-size: 14px;
      margin: 0 2px;
    }
  }

  form.message-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 10vh;
    padding: 15px 0 15px 20px;
    position: fixed;
    bottom: 0;
    background: $primary-gradient;
    // border-top: 1px solid $secondary-purple;
    z-index: 2;
    max-width: 1024px;


    input {
      height: 40px;
      width: 80%;
      background: #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: none;
      outline: none;
      padding: 10px 20px;
      font-size: 16px;
      
    }::placeholder {
      color: $secondary-purple;
    }:focus::placeholder {
      color: $secondary-red;
    }

    button {
      height: 40px;
      background: #ffffff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: none;
      outline: none;

      padding: 10px 15px;
    }
  }

  .block-user {
    height: 30px;
    width: 80px;
    border-radius: 30px;
    margin: 5px 0;
    font-size: 12px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: $secondary-purple;
    outline: none;

  }
  .block-user:hover {
      background: #ffffff;
      color: $primary-purple;
      border: 1px solid $primary-purple;
  }
  .block-user:active {
      color: #ffffff;
      background: $primary-purple;
      border: none;
  }

}

@media screen and (max-width: 376px) {
  div.chat-container {
    
    .current-avatar {
      height: 80px;
      width: 70px;
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  div.chat-container {
    form.message-form {
      input {
        width: 58%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  div.chat-container {
    form.message-form {
      input {
        width: 70%;
      }
    }
  }
}