@import "./components/Main/Main";
@import "./components/Home/Home";
@import "./components/CreateAccount/CreateAccount";
@import "./components/ChatRoom/ChatRoom";
@import "./components/AvatarSelector/AvatarSelector";
@import "./components/BlockList/BlockList";
@import "./components/FriendList/FriendList";
@import "./components/LogIn/Login";
@import "./components/Profile/Profile";
@import "./components/Questions/Questions";
@import "./components/Settings/Settings";

@import './style/colors';


$height:50;
$depth:6;
$color:#00ACC1;
$text-color:darken($color,15%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;

$primary: #ff2e63;
$secondary: #543AB7;
$white: #fff;
$gray: #9b9b9b;


html {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%) no-repeat fixed center;
  margin: 0;
  padding: 0;
  color:white;    
  
    h1{
      margin: 20px 0 0 0;
      padding: 0;
      }
    a {
      margin: auto;
      width: 180px;
      }
}

body, #root {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
}


button{
  
  border: 2px solid $color;
  color: $color;
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 24px;
  border-radius: 60px;
  font-family: "Lato",sans-serif;
  &:hover{
    border: none;
    background-color: white;
    color: $primary;
    font-size: 28px;
    transition: all 0.3s ease-in-out;
    transform:scale(1.05);
    }
  }

  .form-group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px auto;
    width: 45%;
  }
  
  .form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form-label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .form-field:focus {
    ~ .form-label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form-field{
    &:required,&:invalid { box-shadow:none; }
  }

  /* Clouds styling */ 
  .waves {
    // margin: 0;
    width: 100%;
    height:20vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:150px;
    // max-height:300px;
}

.content {
    // position:relative;
    height:30vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 15s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 20s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 25s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
        width: 200%;
      height:auto;
      min-height:10vh;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }