@import "./components/Main/Main";
@import "./components/Home/Home";
@import './components/CreateAccount/CreateAccount';
@import './components/BurgerMenu/BurgerMenu';
@import './components/LogIn/LogIn';
@import './components/Profile/Profile';
@import './components/AvatarSelector/AvatarSelector';


@import './style/colors';



html {
  height: 100vh;
  width: 100vw;
  text-align: center;
  -webkit-tap-highlight-color:transparent;

}


