@import '../../style/colors';

div.createAccount {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
    width: 100vw;
    background: $primary-gradient;
    max-width: 1024px;
    box-shadow: 3px 2px 20px -1px rgba(61,58,74,1);
    

    nav {
        display: flex;
        justify-content: space-between;
        height: 15vh;
        padding: 30px;

        p {
            color: #ffffff;
        }
    }

    header {
        height: 20vh;
        img{
            height: 150px;
        }
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;


        div.form-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            img {
                margin-right: 15px;
            };
        }

        input {
            height: 50px;
            width: 65%;
            max-width: 1024px;
            background: none;
            border: none;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            outline: none;
            padding: 5px;
            font-size: 18px;
        }::placeholder {
            color: #ffffff;
        }:focus::placeholder {
            color: #d4d4d42d;
            
        }:focus {
            border-bottom: 2px solid $primary-purple;
        }
    }

    button {
        height: 64px;
        width: 240px;
        border-radius: 30px;
        margin: 30px;
        font-size: 20px;
        border: 1px solid #ffffff;
        color: #ffffff;
        background: $primary-gradient;
        outline: none;

    }
    button:hover {
        background: #ffffff;
        color: $primary-purple;
        border: 1px solid $primary-purple;
    }
    button:active {
        color: #ffffff;
        background: $primary-purple;
        border: none;
    }

    .have-account {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15vh;
        color: #ffffff;

        .text-link {
            color: #ffffff;
            font-weight: bold;
        }
    }
}

.age-checking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid $secondary-blue;
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
    outline: none;

    header {
        font-size: 20px;
        color: $secondary-blue;
    }
    p.last-p {
        margin-top: 10px;
        font-size: 16px;
        color: $primary-grey;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        input {
            font-size: 16px;
            min-width: 80px;
            padding: 5px 10px;
        }:focus {
            border: 1px solid $primary-red;
        }
        p {
            margin: 5px;
        }
    }

    nav {
        display: flex;
        justify-content: center;

        button {
            height: 40px;
            width: 90px;
            border-radius: 30px;
            margin: 0 10px;
            font-size: 16px;
            border: 1px solid #ffffff;
            color: #ffffff;
            background: $primary-gradient;
            outline: none;
    
        }
        button:hover {
            background: #ffffff;
            color: $primary-purple;
            border: 1px solid $primary-purple;
        }
        button:active {
            color: #ffffff;
            background: $primary-purple;
            border: none;
        }
    }

    
}